








.jumbotron
{
   height: 40rem;
   text-align: center;
    z-index: 2;
    background-size: cover;
    background-attachment:fixed;
    background-position: bottom;
    background-image: url(/images/top-banner.jpg);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

.jumbo
{
    font-family: 'Russo One',serif;
    color: #ffffff;
    text-shadow: 0px 0px 1px white;
}



#my_name {
    font-size: 420%;
}

.container-fluid {
    margin-top: 3rem;
    text-shadow: 0 0 0.3rem;
}

.img-circle:hover {
    box-shadow: 0 0 0.5em 0.1em white;
}
.img-circle
{
    margin: 1em;
    transition: 0.3s box-shadow;
}


#dp
{
    box-shadow: 0 0 1rem 0.3rem rgba(0,0,0,0.5);
    max-width: 20rem;
    margin: auto;
    margin-top: 2rem;
}
