.jumbotron
{
    height: 60rem;
    text-align: center;
    background-position: bottom;
    background-color: transparent;

}
.jumbo_text
{
    font-family: monospace,monospace;
    color: #ffffff;
    text-shadow: 0px 0px 1px white;
}

#my_name
{
    font-size: 390%;
}
body
{
    overflow-x: hidden;
    background-color: rgba(0,0,0,1);
}
.img-circle:hover {
    box-shadow: 0 0 0.5em 0.1em white;
}
.img-circle
{
    position: relative;
    z-index: 3;
    margin: 1em;
    transition: 0.3s box-shadow;
}

#dp
{
    z-index: 2;
    position: relative;
    box-shadow: 0 0 1em 0.1rem white;
    max-width: 20rem;;
    max-height: 20rem;
    margin: auto;
    margin-top: -5em;
}

/*START OF ABOUT.HTML*/
#about_text
{
    padding: 3%;
    font-size: 120%;
    text-align: center;
}


.title_text {
    font-family: 'Helvetica',serif;
    color: #ffffff;
    text-shadow: 0 0rem 0.3rem white;
    font-size: 150%;
}

#head {
    margin-top: -1rem;
    text-shadow: 0 0 0.3rem white;
}

#skill_title
{
    color:  #ffffff;
    font-size: 200%;
    text-shadow: 0 0 0.3rem white;
}

#donutchart
{
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    height: 80%;
}

#my_subtitle
{
    font-size: 190%;
}

#my_subtitle:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
}
@keyframes cursor
{
    0% { opacity:  0.0; }
    10% { opacity: 0.2; }
    20% { opacity: 0.4; }
    30% { opacity: 0.6; }
    40% { opacity: 0.8; }
    50% { opacity: 1.0; }
    60% { opacity: 0.8; }
    70% { opacity: 0.6; }
    80% { opacity: 0.4; }
    90% { opacity: 0.2; }
    100% { opacity: 0; }
}


#p_white
{
    z-index: 0;
    position: relative;
    margin-top : -50rem;
    height: 67rem;

}



#skills {
    text-align: center;
    height: 50rem;
    padding: 3%;
}

li
{
    display: inline-flex;
}

a {
    font-weight: bold;
    font-family: monospace,monospace;
}
a:hover, a:active, a:focus, a:visited, a:active
{
    text-decoration: none;
    color: white;
}

.hyperlink
{
    margin-top: 1rem;
    padding: 1rem;
     font-size: 2rem;
    z-index: 4;
    position: relative;
    cursor: pointer;
    cursor: hand;
    text-shadow: 0 0 0 white;
	border-bottom: 2px solid transparent;
	transition: border 400ms;
	color: #ffffff;

}
.hyperlink:hover
{
   text-shadow: 0 0 1rem white;
    color: #ffffff;
    text-decoration: none;
	border-bottom:2px solid #ffffff;
}



.navbar-fixed-top {
    position: absolute;
}

ul {
     margin-right: 3rem;
}

.skill_box
{
    color: white;
    padding: 1rem;
    margin: 1rem;
    transition: box-shadow 200ms;
    transition: background-color 400ms;
    transition: color 200ms;
}
#skill_box:hover
{
    opacity: 0;
}


.skill_box:hover
{
    color: black;
}

.section {
     margin-top: 6rem;
}

.skill_title {
    font-size: 250%;

}

.skill_android
{
 border: 3px solid #8BC34A;
}
.skill_android:hover
{
    background-color: #8BC34A;
}



.skill_web {
   border: 3px solid #E44D26;
}

.skill_web:hover {
   background-color: #E44D26;
}

.skill_vb {
     border: 3px solid #0079CC;
}
.skill_vb:hover
{
    background-color: #0079CC;
}

.skill_other {
 border: 3px solid #FFB300;
}
.skill_other:hover
{
    background-color: #FFB300;
}
