.jumbotron
{

    height: 60rem;;
    text-align: center;
    /*background-color:  rgba(1,87,155,0.1);*/
   background-color:  rgba(0,0,0,1);
    background-position: bottom;

}

.jumbo_text
{
    font-family: monospace,monospace;
    color: #ffffff;
    text-shadow: 0px 0px 1px white;
}

#my_name
{
    font-size: 390%;
}
body
{

    overflow-x: hidden;
    background-color: rgba(0,0,0,0.1);
}
.img-circle:hover {
    box-shadow: 0 0 0.5em 0.1em white;
}
.img-circle
{
    position: relative;
    z-index: 3;
    margin: 1em;
    transition: 0.3s box-shadow;
}

#dp
{
    z-index: 2;
    position: relative;
    box-shadow: 0 0 1rem 0.3rem rgba(0,0,0,0.5);
    max-width: 20rem;;
    max-height: 20rem;
    margin: auto;
    margin-top: -5em;
}

/*START OF ABOUT.HTML*/
#about_text
{
    padding: 3%;
    text-align: center;
}


#about_text {
     font-size: 120%;
}


.title_text {
    font-family: 'Helvetica',serif;
    color: #000000;
    text-shadow: 0 0rem 0.01rem rgba(0,0,0,0.5);
    font-size: 170%;
}

#head {
     margin-top: -1rem;
    text-shadow: 0 0 0.3rem;
}

#skill_title
{
    color:  #000000;
    font-size: 200%;
}

#donutchart
{
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    height: 80%;
}

#my_subtitle
{
    font-size: 190%;
}

#my_subtitle:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
}
@keyframes cursor
{
    0% { opacity:  0.0; }
    10% { opacity: 0.2; }
    20% { opacity: 0.4; }
    30% { opacity: 0.6; }
    40% { opacity: 0.8; }
    50% { opacity: 1.0; }
    60% { opacity: 0.8; }
    70% { opacity: 0.6; }
    80% { opacity: 0.4; }
    90% { opacity: 0.2; }
    100% { opacity: 0; }
}


#p_white
{
    z-index: 2;
    position: relative;
    margin-top: -35rem;
    height: 80rem;

}



#skills {
    text-align: center;
    height: 50rem;
    padding: 3%;
}



.my_container {
    margin: 0;
    position: absolute;
    background-color: transparent;
    text-align: center;
    display: inline-block;
}

li
{
    margin-right: 4rem;
    margin-left:  4rem;
    display: inline-block;
}

a {

    font-weight: bold;
    font-family: monospace,monospace;
}

.hyperlink
{
     font-size: 2rem;
    z-index: 4;
    position: relative;
    cursor: pointer;
    cursor: hand;
	border-bottom: 2px solid transparent;
	transition: border 400ms;
	color: #ffffff;

}
.hyperlink:hover
{
    color: #ffffff;
    text-shadow: 0 0 1rem white;
    text-decoration: none;
	border-bottom:2px solid #ffffff;
}

/*Animations */
@keyframes appear
{
	from { opacity: 0;}
	to {opacity: 1}
}






.navbar
{
    background-color: black;
    margin :0
}










.container-fluid {
    margin-top: 12rem;
}

ul {
    margin-top: 5rem;
}
